!!!
%html
  %head
    %title Tim Perry | #{title}
    %link{:rel=>"stylesheet", :href=>"/style.css"}
    %link{:rel=>"stylesheet", :href=>"/coderay.css"}
    %link{:rel=>"alternate", :type=>"application/rss+xml", :title=>"Tim Perry's RSS Feed", :href=>"/blog/rss"}
    %meta{:name=>"description", :content=>"Tim Perry (etc.)"}
    %script{:src=>"/script/jquery.min.js", :type=>"text/javascript"}
    %script{:src=>"/script/menuscript.js", :type=>"text/javascript"}

    - if not ever_logged_in? then
      :javascript

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2087945-1']);
        _gaq.push(['_setDomainName', 'tim-perry.co.uk']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); 
          ga.type = 'text/javascript'; 
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + 
                    '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; 
          s.parentNode.insertBefore(ga, s);
        })();

  %body
    - if authorized?
      %p{:style => "position:absolute; padding: 10px"}
        Logged in.
    #headerback
      #header
        %a{:href=>"/"}
          %img{:alt=>"tim perry (etc.)", :src=>"/images/logo.png"}

    %ul#menu
      - ["Blog", "Projects", "About"].each do |m|
        %li{:class => (defined? selected and m == selected) ? "selected" : ""}
          %a{:href => "/#{m.downcase}"}
            =m

    #mainBlock
      #title
        - if defined? update_time
          #metatitle
            %strong Last updated
            %br>
            on
            %strong=update_time.strftime('%d-%m-%Y')
            %br>
            at
            %strong=update_time.strftime('%I:%M %p')
        %h1=title

      #content
        - paragraphs.each do |p|
          .heading
            - if p.respond_to? :url
              %a{:href => p.url}
                %h3=p.heading_html
            - else
              %h3=p.heading_html
          ~ p.content_html
      - if defined? sidebar
        #sidebar
          .anchorblock
            %h3=sidebar.heading_html
          =sidebar.content_html

